body {
    font-family: "Quicksand", serif;
    margin: 0;
}
h1, h2 {
    font-family: "Quicksand", serif;
}
header {
    background-image: url("images/red-panda-3006441_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    padding: 2em;
}
